{% extends "bootstrap/base.html" %}
{% block title %}新規投稿{% endblock %}
{% block content %}

<div class="container">
    <h1>新規投稿</h1>
    <form action="/create" method="POST">
        <div class="col-md-12">
            <label>投稿</label>
            <input type="text" name="title" class="form-control">
        </div>
        <div class="col-md-12">
            <label>投稿内容</label>
            <input type="text" name="body" class="form-control">
        </div>
        <div class="col-md-6">
            <input type="submit" value="送信" class="btn btn-primary">
        </div>
    </form>
</div>

{% endblock %}